@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./primevue/tailwind.css";
@import "./base.css";
@import "tailwindcss/utilities";

@layer components {
    /* Dialog */
    .dialog-xs {
        width: 320px;
        max-height: 84vh;
    }

    .dialog-sm {
        @media (min-width: 768px) {
            width: 400px;
            max-height: 72vh;
        }
    }

    .dialog-md {
        @media (min-width: 768px) {
            width: 600px;
            max-height: 84vh;
        }
    }

    .dialog-lg {
        @media (min-width: 768px) {
            width: 700px;
        }
        @media (min-width: 1024px) {
            width: 800px;
        }
    }
}
